*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header img{
    height: 35px;
}

header section img{
   width: 1280px;
   height: 550px;
}

section.titulo{
    display: flex;
    flex-direction: column

}

section.titulo h1{
    font-size: 45px;

}

section.ingredientes h2{
    font-size: 25px;
}