

/*Generales*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'times new roman';
  }  
  

/*Encabezados*/
header{
    
}

ul.menu{
    color: white;
    font-weight: bold;
    list-style-type: none;
    text-align: right;
}

ul.menu:hover{
    color: orangered;
}

h1 {
    text-align: center;
}
h1, h2 {
    color: #005677;
    background-color: #C4C4C4;
}

/*section*/

section.banner{
    position: relative;
}

section.banner img{
   position: relative;
   left: 45%;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

section.datos, section.formacion, section.experiencia{
    
    width: 80%;
}

section.datos ul li span{
    font-style: italic;
    font-weight: bold;
}



/*FOOTER*/
footer{
    text-align: center;
    background-color: #005677;
    color: #FFFFFF;
}